.DS_Store
node_modules/
.env
.env.local
.vscode/
*.log

# Local Netlify folder
.netlify
.env 
.env 
uploads/
node_modules

# Large binary files
*.exe
*.pdf
*.zip
*.mp4
assets/videos/
students/textbook/
students/My Books/
phet-simulations/
students/mongodb-windows-x86_64-*.zip
