.edit-profile-page,
.registration-page {
  .button,
  button {
    margin: 10px;
    padding: 15px 30px;
    border-width: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }

  a,
  .button:hover,
  button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .button.disabled,
  button.disabled {
    background-color: #626B83;
  }

  .button.disabled:hover,
  button.disabled:hover {
    background-color: #99a0b2;
  }

  .button.enabled,
  button.enabled {
    background-color: #1B1464;
  }

  .button.enabled:hover,
  button.enabled:hover {
    background-color: #2d22aa;
  }
}